// Application Styles
@import 'lib';

html, body {
	width: 100%;
	height: 100%;
	&:extend(.open-sans);
	color: @gr0;
	background-color: @gr4;
	font-size: @basefontsize;
	font-weight: @basefontweight;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0, 0.004);
  cursor: default;
}

div {
	display: flex;
	align-items: center;
	width: 100%;
}

#container, main {
	display: flex;
	margin: 0 auto;
	width: 100%;
	justify-content: center;
	flex-direction: column;
  align-items: center;
}

button {
  padding: 15px 10px;
  transition: @trans-all500;
  .radius-s;
  .bg-gr0;
  .box-shadow-light;

  &:hover {
    background-color: lighten(@gr0, 3%);
    .box-shadow;
  }

  &:focus {
    outline: none;
  }
}

.section {
  width: 55%;
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1024px) and (max-width: 1280px) {
  .instruction-graphic-container { 
    display: none; 
  }
}

/* 
  ##Device = Tablets, Ipads
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
  .section, #team {
    width: 100%;
  }
  
  #campaign .demo-content-container {
    flex-direction: column;
    width: 100%;

    .peer-info, .video-container {
      width: 90%;
    }
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 768px
*/
@media (min-width: 481px) and (max-width: 768px) {
  .section, #team {
    width: 100%;
  }

  .instruction-graphic-container, #menu #navigation ul li.hide-nav-link { 
    display: none; 
  }

  #team #members {
    flex-direction: column;
  }

  #demo .demo-row {
    flex-direction: column;
  }
  
  #demo .demo-row img {
    max-width: 100%;
  }

  #campaign .demo-content-container {
    flex-direction: column;
    width: 100%;

    .peer-info, .video-container {
      width: 90%;
    }
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 481px
*/
@media (min-width: 320px) and (max-width: 481px) {
  #menu { 
    display: flex;
    justify-content: center;
  }

  .section, #team {
    width: 100%;
  }
  
  #navigation, .instruction-graphic-container { 
    display: none; 
  }

  #team #members {
    flex-direction: column;
  }

  #demo .demo-row {
    flex-direction: column;
  }
  
  #demo .demo-row img {
    max-width: 100%;
  }

  #campaign .demo-content-container {
    flex-direction: column;
    width: 100%;

    .peer-info, .video-container {
      width: 90%;
    }
  }
}