#campaign {
  height: 600px;
  flex-direction: column;

  &.gradient {
  background-image:
    radial-gradient(
      #555A5F,
      black
    );
  }

  .demo-content-container {
    flex-direction: row;
    width: 85%;
    
    .peer-info {
      flex-direction: column;
      width: 30%;
      color: white;
    }
  
    .video-container {
      width: 70%;
      border: 1px solid @gr3;
  
      video {
        width: 100%;
      }
    }
  }

}